.kanban{
  position: relative;
  margin-left: 2vw;
  margin-bottom: auto;
  padding-top: 1vw;
  padding-bottom: 1vw;
  background-color: blue;
  display: table;
  overflow-x: scroll;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
}

.kanbanHeader{
  display: flex;
}

.kanbanClose{
  margin-left: auto;
}
