.project-delete{
  position: absolute;
  z-index: 1;
  top: 0.2vh;
  right: 0.2vw;
}

.project-card{
  position: relative;
  margin-top: 5vh;
}

.project-list{
  width: 50%;
  display: block;
  position: absolute;     /*body要素に対して絶対配置*/
  top: 20%;       /*上端を中央に*/
  left: 50%;      /*左端を中央に*/
  transform: translate(-50%);
  margin-bottom: 10%;
}

.list-menu{
  position: fixed;
  z-index: 5;
  height: 7vh;
}